.readNext {
  display: flex;
  flex-grow: 1;
  min-width: 50%;
  position: relative;
  background: #222 no-repeat center center;
  background-size: cover;
  overflow: hidden;
  height: 300px;
  opacity: 0.5;
}

.readNext:hover {
  opacity: 1;
}

.readNext__div {
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
}

.readNext__title {
  padding: 1rem;
  font-size: 30px;
  color: white;
  background-color: rgba(0,0,0,0.3);
  border-radius: 0.5rem;
}

.postNavigation {
  display: flex;
}